@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat&display=swap');

:root {
	--white 		: rgb(238, 237, 222); /* Background */
	--cream 		: rgb(224, 221, 170); /* Nav? */
	--gray 			: rgb(32, 50, 57); /* footer ?*/
	--dark-gray : rgb(20, 30, 39); /* font color ?*/
	
	--shadows-light  	: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
	--shadows-medium 	: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
	--shadows-hard 		: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
	
	--font 	: 'Dm Serif Display';
	--font-mono : 'JetBrains Mono', monospace;
	--font-serif: 'Montserrat', sans-serif;
	--font-size:2.5vw;

	--rounded-corners: 12px;

}



html, body {
	margin: 0px;
	background-color: var(--gray);

}

.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: var(--dark-gray);
	box-shadow: var(--shadows-hard);
	position: fixed;
	top: 0;
	opacity: 0.86;
	-webkit-backdrop-filter: blur(10px) ;
	-moz-backdrop-filter: blur(10px) ;
	-o-backdrop-filter: blur(10px) ;
	
}

.navbar > * {
	align-self: center;	
	padding: 2px 20px;
	font-family: var(--font-mono);
	font-size: var(--font-size);
	color: var(--cream);
}


img {
	height: 20vw;
}


.d-grid{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: repeat(3, 100vh);
	grid-auto-flow: column;
	grid-template-areas: 
	"lsidebar"
	" main "
	"rsidebar";

	grid-gap: 20px;
	justify-content: space-between;
	margin: 20px;
}

.d-grid > * {
	border-radius: 10px;
	background-color: var(--cream);
	box-shadow: var(--shadows-hard);
	align-items: center;
	padding: 10vh 0vh;
}


.top {
	display: flex;
	grid-area: lsidebar;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: center;
	  align-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
}


.center {
	grid-area: main;
}

.bottom {
	grid-area: rsidebar;

}

.top > div {
	flex-grow: 2;
	padding: 2px 2vh;
	max-width: 50vw;
	font-family: var(--font-serif);
}



@media screen and (max-width: 600px) {
	.navbar {
		height: 7vh;
	}
	
	.d-grid {
		margin-top: 9vh;

	}


}

@media screen and (min-width: 601px) {
	.navbar {
		height: 5vw;
	}

	.navbar > * {
		font-size: 1.3vw;

	}
	.d-grid {
		margin-top: 7vw;

	}


}




