@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
:root {
	--white 		: rgb(238, 237, 222); /* Background */
	--cream 		: rgb(224, 221, 170); /* Nav? */
	--gray 			: rgb(32, 50, 57); /* footer ?*/
	--dark-gray : rgb(20, 30, 39); /* font color ?*/
	
	--shadows-light  	: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
	--shadows-medium 	: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
	--shadows-hard 		: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
	
	--font 	: 'Dm Serif Display';
	--font-mono : 'JetBrains Mono', monospace;
	--font-size:2.5vw;

}

html, body {
	margin: 0px;
	background-color: var(--gray);

}

.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: var(--dark-gray);
	box-shadow: var(--shadows-hard);
	position: fixed;
	top: 0;
}

.navbar > * {
	align-self: center;	
	padding: 2px 20px;
	font-family: var(--font-mono);
	font-size: var(--font-size);
	color: var(--cream);

}

@media screen and (max-width: 600px) {
	.navbar {
		height: 7vh;
	}
}

@media screen and (min-width: 601px) {
	.navbar {
		height: 5vw;
	}

	.navbar > * {
		font-size: 1.3vw;

	}
}

.d-grid{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: repeat(3, 100vh);
	grid-auto-flow: column;
	grid-template-areas: 
	"lsidebar"
	" main "
	"rsidebar";

	grid-gap: 20px;
	justify-content: space-between;
	margin: 20px;
	padding-top: 10vh 0px;
}

.d-grid > * {
	display: flex;
	border-radius: 10px;
	background-color: var(--cream);
	box-shadow: var(--shadows-hard);
	padding: 10vh 10vh;
	flex-flow: row-wrap;
}


.lsidebar {
	grid-area: lsidebar;
	
}

.main {
	grid-area: main;
}

.rsidebar {
	grid-area: rsidebar;

}







